<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<!--    <form th:action="@{/user}" th:method="POST">-->
    <fieldset>
        <legend>New User</legend>
        <label for="name">Name:</label>
        <input type="text" name="name" title="Name" id="name"/>
        <label for="email">Email:</label>
        <input type="text" name="email" title="Email" id="email"/>
        <label for="password">Password:</label>
        <input type="text" name="password" title="Password" id="password"/>
        <input type="submit"/>
    </fieldset>
</form>

</body>
</html>