<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<h2 th:text="${'Users: ' + count}"></h2>

<form th:action="@{/user}" method="POST">
    <fieldset>
        <legend>New User</legend>
        Name: <input type="text" name="name" id="name"/>
        Email: <input type="text" name="email" id="email"/>
        Password: <input type="text" name="password" id="password"/>
        <input type="submit"/>
    </fieldset>
</form>

</body>
</html>